<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs")%>

    <body>
        <%- include("partials/header.ejs")%>
        <main>
            <div class="market">
                <div style="display:flex; justify-content:center; align-items: center;">
                        <div class="img-card">
                            <img src="<%=item.img_front%>" alt="<%item.product_name%>">
                            <div class="text-card">
                                <p>
                                    <%=item.collection_name%>
                                </p>
                                <h3>
                                    <%=item.licence_name%>
                                </h3>
                                <p>
                                    <%=item.product_description%>
                                </p>
                                <h3>
                                    $<%=item.product_price%>
                                </h3>
                                <div class="button_add_subtract">
                                    <button id="button_subtract" class="button_subtract">-</button>
                                    <input type="text" id="valueNum" placeholder="0">
                                    <button id="button_add" class="button_add">+</button>
                                    <div>
                                       <button type="button" class="add_car"><a href="/shop/<%=item.product_id%>/car">Agregar al carrito</a></button> 
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


            <h2 class="title_last_off">PRODUCTOS RELACIONADOS</h2>

            <article class="last_off_container glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <% funkosJSON.forEach(element=> { %>
                            <li class="glide__slide card_ultLanz">
                                <div class="new">NUEVO</div>
                                <img src="<%=element.img_front%>" alt="<%element.product_name%>"
                                    class="img_last_off ">
                                <div class="text_off_container">
                                    <p>
                                        <%=element.collection_name%>
                                    </p>
                                    <h3>
                                        <%=element.licence_name%>
                                    </h3>
                                    <p>$<%=element.product_price%>
                                    </p>
                                    <h6>3 CUOTAS SIN INTERES</h6>
                                </div>
                            </li>
                            <%})%>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i
                            class="bi bi-arrow-left-circle" style="color:black"></i></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                            class="bi bi-arrow-right-circle" style="color:black"></i></button>
                </div>
            </article>
        </div>
        </main>

        <%- include("partials/footer.ejs")%>


        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script src="/glide.js"></script>
        <script src="/item.js"></script>

     
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap" rel="stylesheet">

    </body>

</html>