<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs")%>

    <body>

        <%- include("partials/header.ejs")%>
            <main>
                <div class="div-banner">
                    <div class="banner-img">
                        <div class="banner-text">
                            <h3 class="new-in">Nuevos Ingresos</h3>
                            <p>Descubrí el próximo Funko Pop de tu colección</p>
                            <div class="button">
                                <a href="/shop">SHOP</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market">
                    <% mainFulkon.forEach(element=> { %>
                        <div class="card-main">
                            <div class="text-card">
                                <h3>
                                    <%=element.licence_name%>
                                </h3>
                                <p>
                                    <%=element.product_description%>
                                </p>
                                <div class="border"></div>
                                <a href="/shop">
                                    <div class="button-details">VER COLECCIÓN</div>
                                </a>
                            </div>
                            <div class="img-card">
                                <img src="<%=element.img_front%>" alt="<%element.product_name%>">
                            </div>
                        </div>
                        <%})%>

                            <h2 class="title_last_off">ULTIMOS LANZAMIENTOS</h2>

                            <article class="last_off_container glide">
                                <div class="glide__track" data-glide-el="track">
                                    <ul class="glide__slides">
                                        <% funkosJSON.forEach(element=> { %>
                                            <li class="glide__slide card_ultLanz">
                                                <div class="new">NUEVO</div>
                                                <img src="<%=element.img_front%>" alt="<%element.product_name%>"
                                                    class="img_last_off ">
                                                <div class="text_off_container">
                                                    <p>
                                                        <%=element.collection_name%>
                                                    </p>
                                                    <h3>
                                                        <%=element.licence_name%>
                                                    </h3>
                                                    <p>$<%=element.product_price%>
                                                    </p>
                                                    <h6>3 CUOTAS SIN INTERES</h6>
                                                </div>
                                            </li>
                                            <%})%>
                                    </ul>
                                </div>
                                <div class="glide__arrows" data-glide-el="controls">
                                    <button class="glide__arrow glide__arrow--left" style="color:black" data-glide-dir="<"><i
                                            class="bi bi-arrow-left-circle"></i></button>
                                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                                            class="bi bi-arrow-right-circle"></i></button>
                                </div>
                            </article>
                </div>

            </main>

            <%- include("partials/footer.ejs")%>

                <script src="index.js"></script>

                <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

                <script src="/glide.js"></script>
    </body>

</html>