<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head.ejs")%>
    <title>FunkoShop</title>
</head>

<body>
    <%- include("partials/header.ejs")%>
        <main>

            <div class="shop_container">

                <div class="search_shop">
                    <div class="search_input">
                        <h6>BUSCAR</h6>
                        <input type="search" class="input_search" id="input_search" placeholder="Search...">
                    </div>
                    <div class="sort_input">
                        <h6>ORDENAR POR</h6>
                        <select name="type" id="type">
                            <option value=""></option>
                            <option value="collection">COLECCIÓN</option>
                            <option value="category">CATEGORIA</option>
                          </select>
                    </div>
                    <div class="price_input">
                        <h6>PRECIO</h6>
                        <div class="min_max_price"> 
                            <h6>MIN</h6>
                            <input type="text">
                            <h6>MAX</h6>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                        <div class="filter">
                            <h6>FILTRAR</h6>
                            <input type="checkbox" name="checkbox" id="new">
                            <input type="checkbox" name="checkbox" id="off">
                                <li>OFERTAS</li>
                                <li>EDICIÓN ESPECIAL</li>
                                <li>FAVORITOS</li>
                            </ul>
                        </div>
                    </div>
    

                <article class="shop_cards">
                    <% funkosJSON.forEach(element=> { %>
                       <a href="/shop/<%=element.product_id%>">
                        <div class="shop_img" id="card">
                            <img src="<%=element.img_front%>" alt="<%element.product_name%>">
                            <div class="text_off_container">
                                <p>
                                    <%=element.collection_name%>
                                </p>
                                <h3>
                                    <%=element.licence_name%>
                                </h3>
                                <p>$<%=element.product_price%>
                                </p>
                                <h6>3 CUOTAS SIN INTERES</h6>
                            </div>
                        </div>
                        </a>
                        <div class="new">NUEVO</div>
                        <%})%>
                </article>

            </div>
        </main>


        <%- include("partials/footer.ejs")%>

        <script src="/shop.js"></script>
    
</body>

</html>